.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 440px;
    background: white;
    padding: 30px;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: none;
}

.modal-container .close{
    position: absolute;
    right: 20px;
    font-size: 27px;
    top: 10px;
}

.modal-container .close:hover,
.modal-container .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-form input, .modal-form select {
    height: 30px;
    outline: none;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.modal-form button {
    background: #007bff;
    color: white;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}