#modal-detail {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
}

.modal-content {
  display: flex;
  width: 880px;
  height: 440px;
  background: white;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

.modal-content .movie-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  margin: auto;
  background: #fefefe;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-content .movie-poster {
  width: 50%;
  height: 100%;
}

.movie-poster img {
  width: 100%;
  height: 100%;
}

.movie-content input,
.movie-content select {
  height: 30px;
  outline: none;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

#modal-detail .close {
  text-align: right;
  font-size: 21px;
  cursor: pointer;
}
