#table {
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: none;
  padding: 25px 4px 25px 20px;
  word-wrap: break-word;
}

#table tr {
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

#table tr:nth-child(odd) {
  background-color: #f5f5f5;
}

#table tr:hover {
  background-color: #e6e6e6;
}

#table th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background-color: white;
}

.action {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.action button {
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.action .edit {
  background: #ffeb3b;
  width: 60px;
  height: 30px;
}

#table .edit:hover {
  border: 1px solid #ffeb3b;
  background: white;
  color: #ffeb3b;
}

#table .delete {
  background: #dc3545;
  width: 80px;
  height: 30px;
}

#table .delete:hover {
  border: 1px solid #dc3545;
  background: white;
  color: #dc3545;
}

#table .detail {
  background: #007bff;
  width: 70px;
  height: 30px;
}

#table .detail:hover {
  border: 1px solid #007bff;
  background: white;
  color: #007bff;
}

#table th:last-child {
  text-align: center;
}
